.Card {
    border: 3px solid grey;
    border-radius: 10px 10px 10px 10px;    
}
.Botname {
    font-weight: bold;
    text-decoration: underline;
}

img {
    width: 125px;
    border-radius: 5px 5px 5px 5px;
}